<hibernate-configuration>
<session-factory>

<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/nagdb</property>
<property name="hibernate.connection.username">root</property>
<property name="hibernate.connection.password">1996</property>

<!-- for db connection -->
<!-- hbm2ddl  = hibernate mapping 2 data definition language  and create used for create table in DB  -->
<property name="hibernate.hbm2ddl.auto">create</property>
<!--to check queries in console  -->
<property name="hibernate.show_sql">true</property>
</session-factory>
</hibernate-configuration>